<style>
    
    {{ if .IsHome }}
    {{- $default_style := resources.Get "sass/default.scss" | resources.ToCSS -}}
    {{- $default_style.Content | safeCSS -}}
    body {
        font-family: "Iosevka Web";
    }
    
    {{ else }}
    {{- $activity_style := resources.Get "sass/activity.scss" | resources.ToCSS | minify -}}
    {{- $activity_style.Content | safeCSS -}}
    body {
        font-family: "Iosevka Aile Web";
        font-size: medium;
    }
    {{ end }}
    
    {{ $terminal_style := resources.Get "sass/white.scss" }}
   
    {{ $themeData := getJSON "https://raw.githubusercontent.com/Mayccoll/Gogh/master/data/themes.json" }}
    {{ range $t := $themeData.themes }}
        {{if eq $t.name $.Site.Params.Terminal.scheme }}
            {{$terminal_style = printf "body{background:%s}body #terminal{color:%s}body #user{color:%s}body #dir{color:%s}body .Typewriter__cursor{color:%s}a{color:%s}" $t.background $t.cursorColor $t.blue $t.purple $t.cursorColor $t.cursorColor | safeCSS }}
        {{ end }}
    {{ end }}
    
    {{ $terminal_style | safeCSS }}
    

    #content::after {
        content: "\a\a";
        white-space: pre;
    }

    .navFull {
        background-color: #353535;
        font-family: "Iosevka Web";
        font-size: 17px;
        display: inline;
        position: fixed;
        bottom: 0px;
        left: 0px;
        width: 100%;
        padding-top: 5px;
        padding: 10px;
        padding-bottom: 0px;
    }

    .navCredits {
        float: right;
        padding-right: 18px;
        padding-bottom: 10px;
        padding-top: 5px;
    }


            
            
    </style>
    
    
    